<ion-view view-title="Microbit" ng-controller="HomeCtrl">
  <ion-content class="">
      <div class="microbit-board landscape center" style="margin-top:45px;" microbit-board board="properties"></div>
      <!--<div class="row">
        <button type="submit" ng-class="properties.controlling ? 'button button-block button-assertive':'button button-block button-calm'"  ng-click="control()">
          <ion-spinner icon="crescent" ng-if="isScanning"></ion-spinner> 
          {{ properties.controlling ? "Stop controlling" : "Start controlling" }}
        </button>
      </div>
      <div class="row">
        <button class="button button-full button-assertive" ng-click="write()">WRITE!!!</button>
      </div>!-->
  </ion-content>
</ion-view>